<div class="body-assistant">
  <!--Cada paso modifica el contenedor por completo-->
  <div id="contentAssistantRegion" class="panel panel-default conteiner">
      <!--DONDE ESTOY PARADO-->
      <div id="headerAssistantRegion" class="panel-heading">
        <h2 class="panel-title">Bienvenidos... [Asistente Logic World]</h2>
      </div>
      <!--2 columnas-->
      <div class="panel-body row">
        <!--COL IZQ - NAV. PASOS RESCORRIDOS - PASOS FALTANTES-->
          <div id="navigateAssistantRegion" class="col-sm-2">
            <h3 class="list-title">Pasos</h3>
            <ul class="list-group">
              <li class="list-group-item nav-step-assistant"><span class="badge"> ← </span>Bienvenidos</li>
              <li class="list-group-item nav-step-assistant">Paso 1</li>
              <li class="list-group-item nav-step-assistant">Paso 2</li>
              <li class="list-group-item nav-step-assistant">Paso 3</li>
              <li class="list-group-item nav-step-assistant">Paso 4</li>
            </ul>
          </div>
      <!--COL DER - FORMULARIO. -->
          <div id="formAssistantRegion" class="col-sm-10 ">
              <form class=""  method="post">
                <h3 class="panel-title">Bienvenidos al Asistente generador de Mundos de Logic World</h3>
                <p>Use the contextual background classes to provide "meaning through colors":</p>
                <p class="bg-primary">This text is important.</p>
                <p class="bg-success">This text indicates success.</p>
                <p class="bg-info">This text represents some information.</p>
                <p class="bg-warning">This text represents a warning.</p>
                <p class="bg-danger">This text represents danger.</p>
              </form>
              <!-- BOTONES MOVIMIENTOS -->
              <div class="conteiner-actions btn-group" role="group">
                  <button id="atras" type="button" class="btn btn-default btn-action disabled"><span class="glyphicon glyphicon-chevron-left" aria-hidden="false"> Atrás</button>
                  <button id="siguiente" type="button" class="btn btn-default btn-action" href="#paso1">Siguiente <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                  <button id="finalizar" type="button" class="btn btn-default disabled">Finalizar</button>
                  <button id="cancelar" type="button" class="btn btn-default" href="#">Cancelar</button>
                  <button id="help" type="button" class="btn btn-default ">Ayuda</button>
              </div>

          </div>
    </div>
  </div>
</div>
