<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content"> <!-- sacando estó es pag completa con transparencia -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4>Ayuda</h4>
    </div>
    <div class="modal-body">
      <div class="titulo-modal">
        <h2>¿Cómo te podemos ayudar?</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <div class="row hidden-xs">
              <div class="col-sm-12">
                <h2 class="subtitulo-modal">De las Fórmulas</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 navigation-list articles open">
                <h3>Cómo se escribe</h3>
                  <ul class="list-unstyled lista-modal">
                    <li>Las <span>variables</span> y <span>constantes</span> siempre se escriben con letras minúsculas.</li>
                    <li>Las <span>funciones</span> se escriben con letras en mayúsculas.</li>
                    <li>Los <span>predicados</span> siempre comienzan con una letra mayúscula seguido de una en minúscula </li>
                  </ul>
                <h3>Caracteres alternativos</h3>
                <ul class="list-group tabla-char">
                  <li class="list-group-item">Existencial:   <span> &exist;</span>, # </li>
                  <li class="list-group-item">Universal:   <span> &forall;</span>, @ </li>
                  <li class="list-group-item">Conjunción:  <span> &and;</span>, ^ ó &amp;</li>
                  <li class="list-group-item">Disyunción:  <span> &or;</span>, | </li>
                  <li class="list-group-item">Implicación: <span> &rarr;</span>, &ndash;&gt; ó =&gt;</li>
                  <li class="list-group-item">Negación:    <span> &not;</span>, ~ </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <div class="row hidden-xs">
            <div class="col-sm-12">
              <h2 class="subtitulo-modal" >Del Frame</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 navigation-list">
              <h3>Cuenta y pagos <div class="arrow-container svg-container">
                <svg class="svg-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                  </use>
                </svg>
              </div>
            </h3>
            <ul class="list-unstyled">
              <li>
                <a href="/ar/account_payment_help/account_settings" class="js-ga-event" data-ga-event-category="account_payment_help" data-ga-event-action="account_settings" data-ga-event-label="home_page">
                  Configuración de la cuenta
                </a>
              </li>
              <li>
              <a href="/ar/account_payment_help/managing_payments" class="js-ga-event" data-ga-event-category="account_payment_help" data-ga-event-action="managing_payments" data-ga-event-label="home_page">
              Gestionar pagos
              </a>
              </li>
              <li>
              <a href="/ar/account_payment_help/subscription_options" class="js-ga-event" data-ga-event-category="account_payment_help" data-ga-event-action="subscription_options" data-ga-event-label="home_page">
              Opciones de suscripción
              </a>
              </li>
              <li>
              <a href="/ar/account_payment_help/premium_for_family" class="js-ga-event" data-ga-event-category="account_payment_help" data-ga-event-action="premium_for_family" data-ga-event-label="home_page">
              Plan Familiar Premium
              </a>
              </li>
              <li>
              <a href="/ar/account_payment_help/privacy" class="js-ga-event" data-ga-event-category="account_payment_help" data-ga-event-action="privacy" data-ga-event-label="home_page">
              Privacidad y seguridad
              </a>
              </li>
              <li>
              <a href="/ar/account_payment_help/troubleshooting" class="js-ga-event" data-ga-event-category="account_payment_help" data-ga-event-action="troubleshooting" data-ga-event-label="home_page">
              Resolución de problemas
              </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 navigation-list">
            <h3>Usar Spotify <div class="arrow-container svg-container">
              <svg class="svg-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                </use>
              </svg>
            </div>
          </h3>
          <ul class="list-unstyled">
            <li>
            <a href="/ar/using_spotify/search_play" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="search_play" data-ga-event-label="home_page">
            Buscar y reproducir
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/playlists" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="playlists" data-ga-event-label="home_page">
            Playlists
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/collect_music" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="collect_music" data-ga-event-label="home_page">
            Coleccionar música
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/discover_music" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="discover_music" data-ga-event-label="home_page">
            Descubrir música
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/lifestyle_features" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="lifestyle_features" data-ga-event-label="home_page">
            Estilo de vida
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/share_music" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="share_music" data-ga-event-label="home_page">
            Compartir música
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/play_on_stereo_tv_car" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="play_on_stereo_tv_car" data-ga-event-label="home_page">
            Reproducir en TV, estéreo y auto
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/the_user_community" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="the_user_community" data-ga-event-label="home_page">
            Comunidad de usuarios
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/for_artists" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="for_artists" data-ga-event-label="home_page">
            Para artistas
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/feedback" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="feedback" data-ga-event-label="home_page">
            Comentarios
            </a>
            </li>
            <li>
            <a href="/ar/using_spotify/troubleshooting2" class="js-ga-event" data-ga-event-category="using_spotify" data-ga-event-action="troubleshooting2" data-ga-event-label="home_page">
            Resolución de problemas
            </a>
            </li>
          </ul>
        </div>
      </div>            </div>
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
