<!-- Begin: Sentencia Template-->
<button class="btn btn-default btn-destroy-trash" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <div class="input-group">
      <input type="text" id="<%= nombre %>" name="<%= nombre %>" class="input_sentencia form-control" placeholder="Click and type..." value="<%= valor %>">
        <span class="input-group-btn">
         <button class="btn btn-default my-btn-resultado" type="button">
           <i class="my-icon-resultado  <%= estado %> "></i>
         </button>
        </span>
    </div><!-- /input-group -->
<label class="label-mensaje"><%= mensaje %></label>
<!-- End: Sentencia Template-->
