<div id="app_container" class="container-fluid">
    <div class="row">
      <!-- start: Panel Modelo-->
      <div class="col-md-6">
        <!-- start:Herramientas Modelo-->
        <div id="marco_elementos" class="thumbnail">
        </div>
        <!-- end:Herramientas Modelo-->
        <!-- Start:Mundo Modelo-->
        <div id="panel_mundo1" class="contenedor_modelo">
        <!-- MASCARA --><!-- FONDO -->
        </div>
        <!-- end:Mundo Modelo-->
      </div>
       <!-- start: Panel Formulas-->
       <div class="col-md-6">
        <!-- Herramientas Sentencias-->
        <div class="thumbnail"><!-- Herramientas sentencia-->
          <div class="row">
            <div id="" class="col-md-5">
              <div id="btn-group-char-1" class="btn-group btn-group-justified" role="group" >
                <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default "> &not; </button>
                </div>
              <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default "> &and; </button> <!-- /\ -->
                </div>
              <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default "> &or; </button> <!-- v -->
                </div>
              <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default "> &rarr; </button> <!--  -> -->
                </div>
              </div>
              <div  id="btn-group-char-2" class="btn-group btn-group-justified" role="group" >
                <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default"> &exist; </button> <!-- E -->
                </div>
                <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default"> &forall; </button> <!-- A -->
                </div>
                <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default"> ( </button>
                </div>
                <div class="btn-group" role="group">
                <button type="button" onclick="" class="btn-character btn btn-default"> ) </button>
                </div>
              </div>
            </div>
            <div class="btn-toolbar col-md-7" role="toolbar" > <!-- style="background-color: yellow;" -->
              <div class="row ">
                <div class="col-xs-6" >
                <button id="id_btn_add_sentencia" type="button" class="btn btn-default btn-block">Agregar Sentencia</button>
                <button id="id_btn_clear" type="button" class="btn btn-default btn-block">Limpiar</button>
                </div>
                <div class="col-xs-6">
                <button id="id_btn_action" type="button" class="btn btn-default btn-block">Verificar</button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Contenedor Sentencias-->
        <div class="thumbnail"> <!-- Panel sentencia-->
          <div id="panel_sentencias" class="caption">
          </div>
        </div>


      </div>
       <!-- end: Panel Formulas-->

       <!-- Modal-->
       <div class="modal fade" role="modal" id="modalRegion"</div>
