<img class="elemento_insertado"  src="js/app/logicworld/modelos/{{img}}">
<button class="destroy"></span>
<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
</button>
<label class="nombre-elemento"> {{nombre}} </label>
<input class="nombre-edit"> </input>
