body{
  padding-bottom:1em;
}
.region-footer{
  border-top: 2px solid #DDD;
  padding: 1rem;
  background-color: #F8F8F8;
  color : #1E7E97;

  position: fixed;
    bottom: 0;
    width: 100%;

}

.div-footer{
  text-align: center;
  margin-top: 0.75em;
}
